.version.wobuddy_su /* version checker */
{
	color: #000018;
	background-color: #C8A4E6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#ppu444
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 129px;
	margin-left: 20px;
}

#pu444
{
	z-index: 9;
	width: 0.01px;
	position: relative;
}

#pu446-4
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 7px;
	z-index: 2;
	padding-bottom: 4px;
}

#u446-4
{
	z-index: 11;
	width: 129px;
	min-height: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu442
{
	z-index: 7;
	width: 0.01px;
	position: relative;
}

#pu447-4
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 4px;
	z-index: 2;
	padding-bottom: 7px;
}

#u447-4
{
	z-index: 15;
	width: 129px;
	min-height: 15px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu443
{
	z-index: 8;
	width: 0.01px;
	position: relative;
}

#pu448-4
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 3px;
	z-index: 2;
	padding-bottom: 6px;
}

#u448-4
{
	z-index: 19;
	width: 129px;
	min-height: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu441
{
	z-index: 6;
	width: 0.01px;
	position: relative;
}

#u441
{
	z-index: 0;
	width: 183px;
	background-color: #C2C1C1;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 0px 10px 10px 0px ;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#u441.MuseLinkActive
{
	-pie-box-shadow: none;
	box-shadow: 7px 2px 6px rgba(0,0,0,0.5);
	width: 183px;
	min-height: 0px;
	margin: 0px;
}

#pu449-4
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 8px;
	z-index: 2;
	padding-bottom: 3px;
}

#u449-4
{
	z-index: 23;
	width: 129px;
	min-height: 12px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu445
{
	z-index: 10;
	width: 0.01px;
	position: relative;
}

#u450-4
{
	z-index: 27;
	width: 129px;
	min-height: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu648
{
	z-index: 31;
	width: 0.01px;
	position: relative;
}

#u444,#u442,#u443,#u445,#u648
{
	z-index: 0;
	width: 168px;
	background-color: #C2C1C1;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	border-radius: 0px 10px 10px 0px ;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu450-4,#pu649-4
{
	width: 0.01px;
	position: relative;
	left: 12px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 5px;
}

#u649-4
{
	z-index: 32;
	width: 129px;
	min-height: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu440-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 252px;
}

#u440-4
{
	z-index: 2;
	margin-left: 59px;
	position: relative;
}

#u440-4_img
{
	display: block;
	vertical-align: top;
}

#u1239
{
	z-index: 36;
	width: 182px;
	background-color: transparent;
	margin-top: 41px;
	position: relative;
	padding: 14px 25px 63.049999999999955px 8px;
}

#u1240-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	position: relative;
}

#pu1246
{
	width: 0.01px;
	margin-top: 36px;
}

#u1246
{
	z-index: 57;
	width: 15px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1242-4
{
	z-index: 41;
	width: 150px;
	min-height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u1248
{
	z-index: 58;
	width: 15px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1243-4
{
	z-index: 45;
	width: 150px;
	min-height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#pu1249
{
	width: 0.01px;
	margin-top: 41px;
}

#u1249
{
	z-index: 59;
	width: 15px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1244-4
{
	z-index: 49;
	width: 150px;
	min-height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#pu1248,#pu1250
{
	width: 0.01px;
	margin-top: 42px;
}

#u1250
{
	z-index: 60;
	width: 15px;
	height: 13px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1246::before,#u1248::before,#u1249::before,#u1250::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 1px 1px 3px rgba(255,255,255,0.75), inset -1px -1px 3px rgba(0,0,0,0.75);
}

#u1245-4
{
	z-index: 53;
	width: 150px;
	min-height: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

